<?xml version="1.0"?>

<launch>

  <!-- Master launch file for RPI ARM composites manufacturing quick start project -->

  <arg name="joy_dev" default="/dev/input/js0"/>
  <arg name="abb_irc5_uri" default="http://192.168.125.1/"/>
  <arg name="netft_host" default=""/>
  <arg name="abb_irc5_rapid_auto_stop" default="true"/>

  <arg name="sim" default="false"/>

  <param name="move_group/trajectory_execution/allowed_execution_duration_scaling" value="4.0" />
  <param name="move_group/trajectory_execution/execution_duration_monitoring" value="false" />
  <param name="move_group/trajectory_execution/controller_connection_timeout" value="120"/>
  
<arg name="disable_joy" default="false"/>
  <node respawn="true" pkg="joy" type="joy_node" name="joy" unless="$(arg disable_joy)">
    <param name="dev" type="string" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="20" />
  </node>

  <arg name="disable_moveit" default="false"/>
  <include file="$(find rpi_arm_composites_manufacturing_testbed_moveit_config)/launch/moveit_planning_execution.launch" unless="$(arg disable_moveit)">
    <arg name="start_interface" value="false"/>
    <arg name="planning_pipeline" value="ompl"/>
  </include>

  <rosparam param="controller_joint_names" subst_value="True">["joint_1","joint_2","joint_3","joint_4","joint_5","joint_6"]</rosparam>

  <arg name="disable_kinematic_controller" default="false"/>
  <include file="$(find safe_kinematic_controller_abb_irc5_egm)/launch/safe_kinematic_controller_abb_irc5_egm.launch" unless="$(arg disable_kinematic_controller)">
    <arg name="netft_host" value="$(arg netft_host)"/>    
  </include>  
    
  <arg name="disable_rapid_server" default="false"/>
  <include file="$(find rpi_abb_irc5)/launch/abb_irc5_rapid_driver.launch" unless="$(arg disable_rapid_server)">
    <arg name="abb_irc5_uri" value="$(arg abb_irc5_uri)"/>
  </include> 

  <node pkg="rosservice" type="rosservice" name="start_rapid" args="call --wait rapid/start True forever" unless="$(arg disable_rapid_server)"/> 

  <include file="$(find rpi_arm_composites_manufacturing_testbed)/launch/rviz_sim_cameras.launch" if="$(arg sim)"/>
  <include file="$(find rpi_arm_composites_manufacturing_testbed)/launch/rviz_sim_cameras_params.launch" if="$(arg sim)"/>
  
  <node name="overhead_image_view" pkg="image_view" type="image_view" args="image:=/overhead_camera/image"/>
 
  <include file="$(find rpi_arm_composites_manufacturing_testbed)/launch/load_payloads.launch"/>

  <!-- TODO: use a package for vision server instead of this script -->
  <arg name="disable_vision_server" default="false"/>
  <node name="ptgrey_vision_server" pkg="Vision_MoveIt_wason" type="ptgrey_vision_server" unless="$(arg disable_vision_server)"/>
  
  <arg name="disable_process_controller_server" default="false"/>
  <node name="process_controller_server" pkg="rpi_arm_composites_manufacturing_process" type="process_controller_server" unless="$(arg disable_process_controller_server)">
	<!-- Use simulated force sensor! -->
    <!-- <param name="disable_ft" value="$(arg sim)"/> -->
  </node>
  
  <arg name="disable_industrial_payload_manager" default="false"/>
  <node name="industrial_payload_manager" pkg="industrial_payload_manager" type="industrial_payload_manager" unless="$(arg disable_industrial_payload_manager)">        
  </node> 

  <arg name="disable_collision_monitor" default="false"/>
  <node pkg="tesseract_monitoring" type="tesseract_monitoring_contacts_node" name="tesseract_monitoring_contacts" unless="$(arg disable_collision_monitor)">
    <param name="robot_description" type="string" value="robot_description"/>
    <param name="plugin" type="string" value="tesseract_collision/BulletDiscreteBVHManager"/>
    <param name="contact_distance" value="0.5"/>
    <param name="monitor_links" value=""/>
    <param name="contact_test_type" value="2"/>
    <param name="publish_environment" value="true"/>
    <remap from="/tesseract_monitoring_contacts/tesseract_diff" to="tesseract_diff"/>
  </node>

  <!-- TODO: launch GUI -->

  <node name="floating_transform_publisher" pkg="floating_transform_publisher" type="floating_transform_publisher"/>

  <node name="force_sensor_sim" pkg="rpi_arm_composites_manufacturing_testbed" type="force_sensor_sim_node" if="$(arg sim)"/>

</launch>
